@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/***** OVERALL *****/
* {
  /* border: 1px red solid; */
  margin: 0 auto;
  padding: 0 auto;
  font-family: "Bebas Neue", cursive;
}

body {
  width: 800px;
  height: 100vh;
  text-align: center;
  /* background: rgb(53,92,125); */
  background: #616b98;
}
/***** HEADER *****/
header {
  font-size: 30px;
  padding: 3vh 0 0 0;
  background-color: #fbc6b1;
  border-radius: 10px;
}

header > h2 {
  font-size: 30px;
  margin-top: 2vh;
}
/***** BUTTONS *****/
button {
  background-color: #e5afec; /* #fbc6b1 old color*/
  margin: 0;
  width: 100px;
  height: 100px;
  /* border: 5px #f67280 solid; */
  border-radius: 10px;
  border: none; /* remove shadow*/
}

.game-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 20px;
}

button#game-reset {
  height: 60px;
  padding: 5px 20px;
  font-size: 28px;
  border: none;
  border-radius: 10px;
  background-color: #f392b7;
}
.rotate-45 {
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
div#reset-game {
  margin: 15px;
}

.score-board {
  font-size: 25px;
  display: flex;
  align-content: center;
  background-color: #fbc6b1;
  border-radius: 10px;
}

.game-info {
  display: flex;
  justify-content: space-evenly;
}

.score {
  width: 99px;
}
